<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-includes">
	<link rel="stylesheet" type="text/css" media="all"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css"
		th:href="@{/css/style.css}" />
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

</th:block>
</html>